<div class="box">
    
<floating-menu></floating-menu>
<content-layout></content-layout>
<!-- <div class="row mt-2 ml-2">
	<div class="col-sm-4 col-md-3 m-0 p-2" id="parent">
		<div *ngFor="let component of componentsDrag" [ngClass]="fillDefaultClass" draggable="true">
			<img [src]="component.image" class="" />
    </div>
  </div>

  <div class="col-sm-8 m-0 p-2">
    <div class="row justify-content-center">
      <div *ngFor="let layout of layouts" [ngClass]="emptyDefaultClass">
      </div>
    </div>
  </div>
</div> -->


  </div>



