<div class="floating-menu">
  <div class="accordion">
    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn" type="button"><span>Menu #1</span><i class="fas fa-caret-down"></i></button>
        </h2>
      </div>
      <div class="card-body">
        <div class="img-wrapper" icon-component-ui><div class="img-component" style="background-image: url('https://placehold.it/60x60')" ></div><span>Comp 1</span></div>
        <div class="img-wrapper" icon-component-ui><div class="img-component" style="background-image: url('https://placehold.it/60x60')" ></div><span>Comp 1</span></div>
        <div class="img-wrapper" icon-component-ui><div class="img-component" style="background-image: url('https://placehold.it/60x60')" ></div><span>Comp 1</span></div>
        <div class="img-wrapper" icon-component-ui><div class="img-component" style="background-image: url('https://placehold.it/60x60')" ></div><span>Comp 1</span></div>
        <div class="img-wrapper" icon-component-ui><div class="img-component" style="background-image: url('https://placehold.it/60x60')" ></div><span>Comp 1</span></div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn" type="button"><span>Menu #2</span><i class="fas fa-caret-down"></i></button>
        </h2>
      </div>
      <div class="card-body">
        <div class="img-wrapper" icon-component-ui><div class="img-component" style="background-image: url('https://placehold.it/60x60')" ></div><span>Comp 1</span></div>
        <div class="img-wrapper" icon-component-ui><div class="img-component" style="background-image: url('https://placehold.it/60x60')" ></div><span>Comp 1</span></div>
        <div class="img-wrapper" icon-component-ui><div class="img-component" style="background-image: url('https://placehold.it/60x60')" ></div><span>Comp 1</span></div>
        <div class="img-wrapper" icon-component-ui><div class="img-component" style="background-image: url('https://placehold.it/60x60')" ></div><span>Comp 1</span></div>
        <div class="img-wrapper" icon-component-ui><div class="img-component" style="background-image: url('https://placehold.it/60x60')" ></div><span>Comp 1</span></div>
        <div class="img-wrapper" icon-component-ui><div class="img-component" style="background-image: url('https://placehold.it/60x60')" ></div><span>Comp 1</span></div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn" type="button"><span>Menu #3</span><i class="fas fa-caret-down"></i></button>
        </h2>
      </div>
      <div class="card-body">
        <div class="img-wrapper" icon-component-ui><div class="img-component" style="background-image: url('https://placehold.it/60x60')" ></div><span>Comp 1</span></div>
        <div class="img-wrapper" icon-component-ui><div class="img-component" style="background-image: url('https://placehold.it/60x60')" ></div><span>Comp 1</span></div>
        <div class="img-wrapper" icon-component-ui><div class="img-component" style="background-image: url('https://placehold.it/60x60')" ></div><span>Comp 1</span></div>
      </div>
    </div>
  </div>
</div>